<%= form_for @circle do |f| %>
<%= @circle.errors.full_messages.to_json %>
	<div class="name">
		<%= f.label :name, 'Circle name' %>
		<%= f.text_field :name, placeholder: 'name' %>
	</div>
	<div class="description">
		<%= f.label :description, 'Circle description' %>
		<%= f.text_area :description, size: '50*200', placeholder: 'description' %>
	</div>
	<br>
	<%= f.submit 'create' %>
<% end %>