<style type="text/css">
.table2 th {
  background-color: #cccccc;
}
</style>

<h1>Circles#index</h1>
<table class="table2" border=1>
	<tr>
		<th>
			<p>Circle name</p>
		</th>
		<th>
			<p>Circle people</p>
		</th>
		<th>
			<p>Circle description</p>
		</th>
		<th>
			<p>Circle create time</p>
		</th>
		<th>
			<p>Circle update time</p>
		</th>
		<th></th>
		<th></th>
	</tr>
	<% @circles.each do |circle| %>
		<tr>
			<td><%= link_to circle.name, circle_path(circle) %></td>
			<td><%= circle.members_count %></td>
			<td><%= circle.description %></td>
			<td><%= circle.created_at %></td>
			<td><%= circle.updated_at %></td>
			<td><h3><%= link_to 'edit', edit_circle_path(circle) %></h3></td>
			<td><h3><%= link_to 'destroy', circle_path(circle), method: :delete, fata: { confirm: 'Are you sure? '} %></h3></td>
		</tr>
	<% end %>
</table>
<br>
<h3><%= link_to 'create circle', controller: 'circles', action: 'new' %></h3>