<h1>Circles#show</h1>

<h2>Circle Name</h2>
<p><%= @circle.name %></p>
<h2>Circle Description</h2>
<p><%= @circle.description %></p>
<h2>Circle Member</h2>
<p><%= @circle.members_count %></p>
<h2>Comment list</h2>

<%# commentの配列をcountする %>
<% if @comments.count == 0 %>
	<p>コメントはありません</p>
<% else %>
	<%# @commentsの配列をcommnetのキーに入れる %>
	<% @comments.each do |comment| %>
		<%# commentキーを使い欲しいカラムを取得 %>
		<p>
			<%= comment.content %>
		</p>
		<%= comment.created_at %>
		<h3><%= link_to 'edit', edit_circle_comment_path(@circle, comment) %></h3>
	<% end %>
<% end %>

<%# circleを継承させる %>
<h3><%= link_to 'create comment', new_circle_comment_path(@circle) %></h3>
<br>
<br>
<h2>Circle</h2>
<h3><%= link_to 'back', circles_path %> | <%= link_to 'edit', edit_circle_path(@circle) %></h3>