<h1>Circles#show</h1>

<h2>Circle Name</h2>
<p><%= @circle.name %></p>
<h2>Circle Description</h2>
<p><%= @circle.description %></p>
<h2>Circle Member</h2>
<p><strong><%= @circle.members_count %></strong> 人</p>
<% @circle.members.each do |member| %>
	<p><%= member.name %> さん</p>
<% end %>
<h2>Comment list</h2>
<p>total comments <strong><%= @circle.comments.count %></strong>件</p>

<%# commentの配列をcountする %>
<% if @comments.count == 0 %>
	<p>コメントはありません</p>
<% else %>

	<%# @commentsの配列をcommnetのキーに入れる %>
	<% @comments.each do |comment| %>
		<p>---------------------------------</p>
		<p>
			<%# commentキーを使い欲しいカラムを取得 %>
			<%= comment.content %>
		</p>
		<%= comment.created_at %>
		<h3><%= link_to 'destroy', comment_path(comment),method: :delete %> | <%= link_to 'edit', edit_circle_comment_path(@circle, comment) %></h3>
	<% end %>
<% end %>
<p>---------------------------------</p>

<%# circleを継承させる %>
<h3><%= link_to 'create comment', new_circle_comment_path(@circle) %></h3>

<h2>Circle</h2>
<h3><%= link_to 'back', circles_path %> | <%= link_to 'edit', edit_circle_path(@circle) %></h3>