<!DOCTYPE html>
<html>
  <head>
    <title>Memsource</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/assets/favicon_ico.jpg' %>
  </head>
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

  <body>
    <h1>MEMsource</h1>
    <%# if user_signed_in? %>
      <%# user = User.find(session[:user_id]) %>
      <p><strong>-----------------------------------<%# user.name %></strong> さん</p>
    <% else %>
      <!-- <p><strong>-----------------------------------</strong></p> -->
    <%# end %>
    
    <% if notice %>
      <p><%= notice %></p>
    <% end %>

    <% if alert %>
      <p><%= alert %></p>
    <% end %>

    <%= yield %>
    <h2>-----------------------------------</h2>
    <h3><%= link_to 'HOME', root_path %></h3>
  </body>
</html>
